/* Importar fuentes para el texto */
@font-face {
    font-family: BoldFont;
    src: url(/dev_mxttw_3.2/font/Demo_Fonts/Fontspring-DEMO-proximanovacond-bold.otf);
}
@font-face {
    font-family: NormalFont;
    src: url(/dev_mxttw_3.2/font/Demo_Fonts/Fontspring-DEMO-proximanovacond-light.otf);
}

/* Ajustes fondo */
.cuerpo {
    background-color: #272727;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

/* Ajustes div principal donde esta el formulario y el titulo */
.News{
    background-color: #555555;
    padding-bottom: 20px;
    color: white;
    width: 70%;
    margin: 0 auto;
    font-family: BoldFont;
    border-radius: 12px;
}

/* Ajustes titulo Contacto */
.zonetittle {
    font-family: BoldFont;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: white;
    padding: 1.5%;
    z-index: 2;
}

/* Ajustes boton */
.btn{
    font-family: BoldFont;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 12px;
    background-color: #272727;
    font-family: BoldFont;
    font-size: 18px;
    font-weight: bold;
  }
    
  /* Ajustes formulario */
    form {
      border-radius: 4px;
      /* padding: 2.5rem; */
      margin-left: 5rem;
      margin-right: 5rem; 
      color: black;
    }

    /* Color del texto blanco */
    label{
      color: white;
    }

    /* Que haya una separacion entre cada apartado */
    .form-group {
      padding: 0.5rem;
      margin-bottom: 0.4rem;
    }
    
    /* Bordes donde poner texto redondos*/
    input,
    textarea {
      border-radius: 4px;
    }
    
    /* Que se vea mas bonito toda la zona de contacto */
    input:not(input[type="radio"], input[type="checkbox"]),
    textarea {
      width: 100%;
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
    

    
    /* Email obligatorio */
    .is-required::after {
      content: '*';
      color: red;
    }
    
    /* Para que sea responsive */
    @media (max-width: 450px) {
      
    }