.img-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(100% 225% at 100% 0%, #FF0000 0%, #000000 100%), linear-gradient(236deg, #00C2FF 0%, #000000 100%), linear-gradient(135deg, #CDFFEB 0%, #CDFFEB 36%, #009F9D 36%, #009F9D 60%, #1e1e1e 60%, #1e1e1e 67%, #1e1e1e 67%, #0F0A3C 100%);
    background-blend-mode: overlay, hard-light, normal;
    background-size: 400% 400%;
    animation: gradient 10s infinite;
    height: 15vh;
    margin-bottom: 5vh;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.textoCua {
    height: 10Vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: BoldFont;
    font-size: 6vw;
}

body {
    background-color: #272727;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-gap: 55px;
    /* margin-left: 30%;
    margin-right: 30%; */
    justify-content: center;
    margin-bottom: 10vh;
    margin-top: 10vh;
}

.grid-item {
    color: white;
    height: 370px;

}

@media (max-width: 1457px) {
    .grid {
        grid-template-columns: repeat(3, 270px);
    }
}

@media (max-width: 929px) {
    .grid {
        grid-template-columns: repeat(2, 240px);
    }

    .grid-item {
        height: 400px;
    }
}

@media (max-width: 580px) {
    .grid {
        grid-template-columns: repeat(1, 350px);
    }

    .grid-item {
        height: 400px;
    }
}

.merchdiv {
    width: 100%;
    height: 85%;
    border-radius: 25px;
    transition: transform 0.4s ease-in-out;

    position: relative;
    background-color: #555555;
}


.descuento {
    border-radius: 10px 10px 0;
    width: 20%;
    height: 12%;
    background: #c50d0d;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

.descuento>p {
    padding-top: 15%;
    font-size: 20px;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.merchimg {
    background-size: cover;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: center;

    background-size: cover;
    width: 100%;
    height: 100%;

}

#amongusplush {
    background-image: url("../images/merch/amogus.png");
}

#helloneighbor {
    background-image: url("../images/merch/funko1-holavecino.png");
}

#kirbyshirt {


    background-image: url("../images/merch/kirbyshirt.png");
}

#kratosshirt {


    background-image: url("../images/merch/kratosShirt.png");
}

#amogusshirt {

    background-image: url("../images/merch/amogusShirt.png");
}

#berserkshirt {

    background-image: url("../images/merch/berserkShirt.png");
}

#snorlaxplush {

    background-image: url("../images/merch/snorlax.png");
}

#llamaplush {

    background-image: url("../images/merch/llamaFortnite.png");
}

#kirbyplush {

    background-image: url("../images/merch/kirbyplush.png");
}

#kratosfunko {

    background-image: url("../images/merch/kratosfunko.png");
}

#quagsireplush {

    background-image: url("../images/merch/quag.png");
}

#minecraftshirt {

    background-image: url("../images/merch/minecraftshirt.png");
}

.merchdiv:hover {
    transform: scale(1.05);
}

.title {
    padding-right: 70%;
}

.textNEW {
    display: flex;
    margin-top: 10px;
    font-family: NormalFont;
    font-weight: bold;
}

.titleNEW {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 20px;
}

.priceNEW {
    margin-right: 10px;
    margin-left: auto;
    font-size: 25px;
}

.click{
    cursor: pointer;
}